.header {
  height: 100vh;
  background-color: black;
}

.waves {
  position: absolute;
  bottom: 0;
}

.wavies > use {
  animation: waveAround 12s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
  &:nth-child(2) {
    animation-delay: -2s;
    animation-duration: 9s;
  }
  &:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 6s;
  }
}

@keyframes waveAround {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

.personalDetails {
  position: absolute;
  top: 40%;
  left: 20%;
}

.personalDetails h1 {
  font-size: 5rem;
  font-weight: 800;
}

.personalDetails h2 {
  opacity: 70%;
}

.projects {
  color: black;
  height: 100vh;
}

.vl {
  margin-top: 100px;
  border-left: 1px solid #bdbdbd;
  height: 1000px;
}

@media screen and (max-width: 600px) {
  .waves {
    transform: scale(2.5);
  }

  .personalDetails {
    top: 30%;
    left: 12%;
  }
}
