@font-face {
  font-family: "GTWalsheimPro-Regular"; /*this is what you put on your font family*/
  src: url("./assets/fonts/GTWalsheimPro-Regular.ttf"); /*Link to the font*/
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: GTWalsheimPro-Regular;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
